<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <%- include('idx', { user: { name: '<h1>James Bond 007</h1>' } }) %>

     <ul>
      <% users.forEach(user => { %>
        <li><%= user.name %></li>
      <% }) %>
    </ul>

    <ul>
      <%_ users.forEach(user => { _%>
        <li><%= user.name %></li>
      <%_ }) _%>
    </ul>
</body>
</html>